<div class="tui-container_fullwidth py2 px4 h-100">
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_xs-12 tui-col_sm-6 tui-col_md-6 mb2">
      <!-- Wallet info -->
      <cake-wallet-info [showSkeleton$]="showSkeleton$"></cake-wallet-info>
      <!-- Pool info -->
      <cake-pool-info class="mt2" [showSkeleton$]="showSkeleton$"></cake-pool-info>
    </div>

    <div class="tui-col_xs-12 tui-col_sm-6 tui-col_md-6">
      <cake-compound-chart></cake-compound-chart>
    </div>
  </div>
</div>