<nav class="flex justify-end items-center p1" *tuiLet="isConnected$ | async as isConnected">
  <ng-container *ngIf="isConnected">
    <ng-container *tuiLet="isBsc$ | async as isBsc">
      <tui-badge *ngIf="isBsc; else notBscBadge" class="tui-space_right-2" [status]="tuiStatusSuccess" value="BSC">
      </tui-badge>
    </ng-container>
  </ng-container>
  <button *ngIf="!isConnected; else connectedButton " tuiButton class="connection-button" type="button" [size]="'s'"
    [showLoader]="isLoading" (click)="walletService.connect()">
    Connect
  </button>
</nav>



<!-- Connected button Template -->
<ng-template #connectedButton>
  <button tuiButton class="connection-button" type="button" [size]="'s'" [showLoader]="isLoading">
    {{ address$ | async | truncateAddress }}
  </button>
</ng-template>

<ng-template #notBscBadge>
  <tui-badge class="tui-space_right-2" [status]="tuiStatusError" value="BSC"></tui-badge>
</ng-template>