nav {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--accent-color-dark);
  max-height: var(--navbar-height);

  img {
    height: 30px;
  }

  .nav-title {
    color: var(--accent-color-dark);
    font-weight: 900;
  }

  .connection-button {
    min-width: 200px;
  }

  tui-wrapper[data-appearance='pancakeButton'] {
    background: var(--primary-color-light);
    color: var(--primary-color-dark);

    &[data-state='hovered'] {
      background: var(--primary-color);
      color: var(--primary-color-dark);
    }

    &[data-state='pressed'] {
      background: var(--primary-color-dark);
      color: var(--primary-color-light);
    }

    &[data-state='disabled'] {
      background: var(--disabled-color);
    }
  }

  .badge-bsc-{
    &connected {
      background-color: #0f9200;
      &:before {
          content: '';
          color: white;
      }
    }

    &disconnected {
      background-color: #db0000;

      &:before {
          content: '';
          color: white;
      }
    }
  }
}
