nav {
  background-color: #38CFD9; // #D1884F;
  border-bottom: 1px solid #8D65DF;

  .connection-button {
    min-width: 200px;
  }

  tui-wrapper[data-appearance='pancakeButton'] {
    background: #FEDC90;
    color: #643204;

    &[data-state='hovered'] {
      background: #643204;
      color: white;
    }

    &[data-state='pressed'] {
      background: #D18850;
      color: #FEDC90;
    }

    &[data-state='disabled'] {
      background: #eaecee;
    }
  }
}
