<ng-container *tuiLet="(showSkeleton$ | async) as showSkeleton">
  <tui-island *tuiLet="poolInfo$ | async as poolInfo" class="mt2">
    <p class="tui-island__category flex justify-between items-center">
      CAKE Pool info
      <tui-badge class="tui-space_right-2 ml2 pancake-dark-badge" [status]="tuiStatusCustom"
        value="{{ cakePoolQuery.bonusMultiplier$ | async }}x" [class.tui-skeleton]="showSkeleton"
        [class.tui-skeleton_text]="showSkeleton" [class.tui-skeleton_short]="showSkeleton"></tui-badge>
    </p>
    <div class="flex justify-between items-end">
      <div class="tui-island__paragraph">
        <label tuiLabel label="Amount" *tuiLet="cakePoolQuery.formattedAmount$ | async as amount">
          <tui-money class="block" [currency]="pancakeSwapQuery.tokenName$ | async" [value]="amount || 0"
            [class.tui-skeleton]="showSkeleton" [class.tui-skeleton_text]="showSkeleton"
            [class.tui-skeleton_short]="showSkeleton">
          </tui-money>
        </label>
        <label tuiLabel label="Pending" *tuiLet="cakePoolQuery.formattedPendingCake$ | async as pendingCakes">
          <tui-money class="block mt1" [currency]="pancakeSwapQuery.tokenName$ | async" [value]="pendingCakes || 0"
            [class.tui-skeleton]="showSkeleton" [class.tui-skeleton_text]="showSkeleton"
            [class.tui-skeleton_short]="showSkeleton">
          </tui-money>
        </label>
        <label tuiLabel label="APY" class="mt1">
          <span [class.tui-skeleton]="showSkeleton" [class.tui-skeleton_text]="showSkeleton"
            [class.tui-skeleton_short]="showSkeleton">
            {{ cakePoolQuery.apy$ | async }} %
          </span>
        </label>
      </div>

      <img src="assets/images/pools/cake-cake.svg" alt="cake-cake-pool">
    </div>
  </tui-island>
</ng-container>