:root {
  --primary-color: #D18850;
  --accent-color: #8D65DF;
  --background-color: #32CCD8;
  
  --primary-color-light: #FEDC90;
  --accent-color-light: #ab92db;
  --background-color-light:#53DEE9;
  
  --primary-color-dark: #643204;
  --accent-color-dark: #7747D9;
  --background-color-dark: #2aa5ad;

  --disabled-color: #eaecee;
  
  // --navbar-background-color: #000;
}