/* You can add global styles to this file, and also import other style files */
@import 'src/styles/_variables.scss';
@import 'src/styles/_taiga-ui.scss';


html, body {
  height: 100%;
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

cake-root, tui-root {
  width: 100%;
  height: 100%;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height:100%;
}

.text- {
  &primary {
    color: var(--text-primary-color);
  }
  &accent {
    color: var(--text-accent-color);
  }
}