<ng-container *tuiLet="(showSkeleton$ | async) as showSkeleton">
  <tui-island *tuiLet="walletInfo$ | async as walletInfo"
    [ngClass]="{ 'tui-skeleton tui-skeleton_text': showSkeleton }">
    <p class="tui-island__category">Wallet info</p>
    <div class="tui-island__paragraph">
      <label tuiLabel label="Address">
        {{ walletQuery.address$ | async | truncateAddress: 'medium' }}
      </label>

      <label tuiLabel label="Balance">
        <tui-money class="block" currency="BNB" [value]="walletQuery.formattedBalance$ | async">
        </tui-money>
        <tui-money class="block" [currency]="pancakeSwapQuery.tokenName$ | async"
          [value]="pancakeSwapQuery.formattedCakeBalance$ | async">
        </tui-money>
      </label>
    </div>
  </tui-island>
</ng-container>