<ng-container *tuiLet="connection$ | async">

  <div *ngIf="walletService.address$ | async as address; else pleaseConnectTpl">
    <p>
      <span>Connected to: {{ address }}</span>
    </p>

    <p>
      <span>IsBsc: {{ isBsc$ | async }} </span>
    </p>

    <p>
      <span>Balance: {{ balance$ | async | formatEther }} </span>
    </p>

    <p>
      <span>Pending Cake in Pool: {{ pendingCake$ | async | formatEther}} </span>
    </p>

  </div>

</ng-container>

<ng-template #pleaseConnectTpl>
  <div>
    <span>Please connect your wallet</span>
  </div>

  <button tuiButton type="button" [size]="'s'" [showLoader]="isLoading" (click)="connect()">
    Connect wallet
  </button>
</ng-template>